<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/assets/Map.css">
  </head>
  <body>
<center>
<h1>Find Your Route To The Destination</h1>
<h3>Please add the route details</h3>
<form class="" action="" method="post">
    Route Name   <input type="text" name="RouteName" value="" required><br>
    Route Status <input type="text" name="Status" value="" required><br>
    Route Type   <input type="text" name="Routetype" value="" required><br>
    Enter Area name<input type='text' id='StartArea' required><br>
    Enter City   <input type='text' id='City' required><br>
    <center><h4>Please Enter the Destination</h4></center><br>
    Enter Area name <input type='text' id='EndArea'><br>

    <h4>Please Enter the Stop details if any and Click <br>Add Stop to add stops to the route</h4>
    Number of stops you want to add in the path
    <input type="number" id="NumberStops" placeholder="Please enter number of stops first then click Add Stop" min="1"><br><br>
    <div id="stopDet">
      Add Area Name of the stop<input type="text" id="StopInput" name="name">
      Latitude of the Stop <input type="number" id="lat" name="latitude"> <br>
      Longitude of the Stop <input type="number" id="long" name="longitude"><br>
    </div>
    <p id="StopAdded"></p>
    <p id="SaveRoute"></p>
    <input type="button" value="Add Stop" onclick="AddStop()" id="AddSt">
    <input type='submit' id='submit' value='Save Route'>
</form>
<button type="button" name="button" id="ViewRoute">View Route on Map</button>
<button type="button" name="button" id="ShowRoute"><a href="/AllRoutes">Show all available routes</a></button>
</center>

<div id="right-panel"></div>
<div id="map"></div>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<script src="/javascript/Map.js" charset="utf-8"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9s8jfXTYZB0h8IZcaxQion1uLWI5imds">
</script>
  </body>
</html>
