<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/updates.css">
    <title></title>
  </head>
  <body>
    <center>
      <h4>Update Route Details</h4>
    <form class="" action="" method="post">
      Route Name   <input type="text" name="RouteName" value=""><br>
      Route Status <input type="text" name="Status" value=""><br>
      Route Type   <input type="text" name="Routetype" value=""><br>
      <input type="submit" name="" value="update">
    </form>
  </center>
  </body>
</html>
