<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="" method="">
      Route Name   <input type="text" name="RouteName" value=""><br>
      Route Status <input type="text" name="Status" value=""><br>
      Route Type   <input type="text" name="Routetype" value=""><br>
      <input type="submit" name="" value="update">
    </form>
  </body>
</html>
