/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#AddSt:hover {
  cursor: pointer;
}
#AddSt {
  height: 40px;
  font-size: 15px;
  border-radius: 0px;
  border: 0px;
  padding: 10px;
  color: white;
  background-color: black;
}
input {
  padding: 5px;
  display: block;
  margin: 20px;
  width: 50%;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input[type="submit"] {
  height: 40px;
  font-size: 15px;
  border-radius: 0px;
  border: 0px;
  padding: 10px;
  color: white;
  background-color: black;
}
input[type="submit"]:hover {
  cursor: pointer;
}
button {
  display: block;
  margin: 20px;
  width: 50%;
  height: 20px;
  border-style: solid;
  border-color: black;
  border: 1px 1px 1px 1px;
  border-radius: 10px;
  height: 40px;
  font-size: 15px;
  border-radius: 0px;
  border: 0px;
  padding: 10px;
  color: white;
  background-color: black;
}
button:hover {
  cursor: pointer;
}
#stopDet {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#right-panel {
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}
#map {
  margin-right: 400px;
}
@media print {
  #map {
    height: 500px;
    margin: 0;
  }
  #right-panel {
    float: none;
    width: auto;
  }
}
